.portfolio{
    width: 100%;
    min-height: 100vh;
    position: relative;

}


#video{
    position: absolute;
    object-fit: cover;
    width:  100%;
    min-height: 100vh;
    z-index: -2;
    
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; 
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.84)), url(https://player.vimeo.com/external/545176917.sd.mp4?s=8c81c1101030ce5477a2a6d78bc5e3bf0b9ddab6&profile_id=165&oauth2_token_id=57447761);
    mix-blend-mode: luminosity;
}


.portfolio__about{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    color: white;
    display: flex;
    padding: 10rem;
    gap: 10rem;
    display: flex;
    flex-direction: row;
    
}

.portfolio__about img {
    object-fit: contain; /* or cover */
    width: 40%;
    height: auto;
}

.portfolio__about p {
    font-weight: 300;
    font-size: 14px;
    line-height: 190%;
}

.portfolio__about h1 {
    font-weight: 400;
    padding-bottom: 2rem ;
}

.portfolio__about h2 {
    font-weight: 400;
    text-decoration: underline;
    font-size: 18px;
    padding-top: 3rem;
    cursor: pointer;
}






@media  screen and (max-width: 1200px) {
    .portfolio__about{
        flex-direction: column;
        padding: 10rem 20rem 5rem 5rem;
    }

    .portfolio{
        min-height: 160vh;
    }

    #video{
        min-height: 160vh;
    }
    
}

@media  screen and (max-width: 950px) {
   
    .portfolio{
        min-height: 120vh;
    }

    #video{
        min-height: 120vh;
    }
    .portfolio__about-content{
        flex-direction: column;
        margin: 10rem 5rem 5rem 5rem;
    }

    .portfolio__about{
        padding: 0;
        gap: 1rem;
    }

    .portfolio__about img {
        margin-left: 5rem;
    }
}


@media  screen and (max-width: 650px) {
    
    .portfolio{
        min-height: 140vh;
    }

    #video{
        min-height: 140vh;
    }

    .portfolio__about{
        
        padding: 0;
        gap: 1rem;
    }

    .portfolio__about-content{
        
        margin: 8rem 2rem 2rem 2rem;
    }  
    
    .portfolio__about img {
        width: 20rem;
        
        margin-left: 2rem;
    }

    .portfolio__about h2 {
        padding-top: 3rem;
       
    }
}



@media  screen and (max-width: 375px) {
    
    .portfolio{
        min-height: 180vh;
    }

    #video{
        min-height: 180vh;
    }
}