.portfolio__projects {
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
}

.portfolio__projects-left{
    height: 100vh;
    width: 50vw;
}

.portfolio__projects-right{
    background: linear-gradient(203.88deg, #373737 1.87%, #000000 126.04%);
    width: 50vw;
}


.portfolio__projects-left_content{
    margin-left: 5rem;
    margin-top: 10rem;
    padding-right: 5rem;
    
}


.portfolio__projects-left_content h1{
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 1rem;
}

.portfolio__projects-left_content h2{
    font-weight: 500;
    font-size: 14px;
}

.portfolio__projects-left_content p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 3rem;
}







@media  screen and (max-width: 1200px) {
    .portfolio__projects{
        flex-direction: column;
        
       
    }

    .portfolio__projects-left{
        flex-direction: column;
        width: 100vw;
       
    }
    .portfolio__projects-left_content{
        flex-direction: column;
      
        margin-left: 5rem;
        margin-right: 10rem;
        vertical-align: middle;
    }


    .portfolio__projects-right{
        width: 100vw;
    }
    
}





@media  screen and (max-width: 950px) {
    .portfolio__projects{
        flex-direction: column;
        padding-right: 0;
        width: 100vw;
    }

    .portfolio__about{
        padding: 0;
        gap: 1rem;
    }

    .portfolio__about img {
        margin-left: 5rem;
    }




    .portfolio__projects-left_content{
        flex-direction: column;
        padding:0;
        
        vertical-align: middle;

        margin: 10rem 5rem 5rem 5rem;
    }
}


@media  screen and (max-width: 650px) {


    .portfolio__projects-left{
        vertical-align: middle;

    }


    .portfolio__projects-left_content{
        flex-direction: column;
        padding:0;
        vertical-align: middle;
        margin-left: 2rem;
        margin-right: 2rem;
        vertical-align: middle;
        
    }
    
    .portfolio__projects-left_content h2{
        font-weight: 500;
        font-size: 14px;
       
    }
    
    .portfolio__projects-left_content p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }
}




